/* Свойства стиля элемента. Подробнее о них в модуле по CSS */
.bordered {
    border: 2px solid black;
    background-color: azure;
    padding: 10px;
}

.video-container {
    display: inline-block;
    padding-left: 1%;
}

header {
    padding-left: 1%;
    color: black;
}

#header-index {
    color: #44453f;
}

header, footer, body {
    background-color: linen;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%
}

.navbar {
    color: darkgray;
    padding-left: 15%;
}
.navbar a:hover{
    background-color:aqua;
}
aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 20px;
}

body {
    padding-left: 11%;
}
/* Комбинированный селектор - применяется ко всем элементам */
header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}