<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <!--Подключение стилей по относительному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <!--<style>
        .block {
            border: 2px solid black;
            background-color: azure;
            padding: 10px;
        }
    </style>-->
</head>
<body>
    <header id="header-index">
        <!--Заголовок страницы-->
        <h1>LifeSpot — прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p>Покажем, что происходит прямо сейчас</p>
        <input type="text" id="searchBarTop" name="searchbar" value="Поиск по видео..." />
    </header>
    <div class="bordered">
        <!--Кнопки, обернутые в ссылки-->
        <!-- <a href="https://www.youtube.com/watch?v=wCcMcaiRbhM"><button>Санкт-Петербург</button></a>
        <a href="https://www.youtube.com/watch?v=srlpC5tmhYs"><button>Нью-Йорк</button></a>
        <a href="https://www.youtube.com/watch?v=JplMzss6_YE&ab_channel=WokiliWanders"><button>Лондон</button></a>-->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title">Лондон, автобусный маршрут</h3>
        </div>
    </div>
    <!--Футер страницы находится под основной частью (body)-->
    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>
    <!--Сайд-бар страницы-->
    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>Все трансляции</p</a>
            <a href="/"><p>О проекте</p></a>
        </div>
    </aside>
    <!-- <ul>
        <li><a href="https://www.google.ru" target="myframe">Google</a></li>
        <li><a href="http://www.yandex.ru/" target="myframe">Yandex</a></li>
        <li><a href="https://duckduckgo.com/" target="myframe">DuckDuckGo</a></li>
    </ul>

    <iframe src="http://www.yandex.ru/" name="myframe" width="500" height="600">Не грузится пораша</iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xmdOZo-Tf10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31588.926500130223!2d25.096667899999996!3d60.34102759999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sfi!4v1678455132299!5m2!1sru!2sfi" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
</body>
    </html>
